.Color {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1820px;
  text-align: center;
  background-color: aquamarine;
}

.ColorForm {
  display: flex;
  flex-direction: column;
}

.ColorForm input {
  margin-top: 1em;
}

.Card {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 248, 146);
}
